:root {
    ---color-1: lightblue;
    --color-2: black;
    --color-3: white;
    --color-4: rgba(128, 128, 128);
    --color-5: rgb(255, 255, 255);
    --color-6: purple;
    --color-7: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 85%, rgba(0, 0, 0, 0.014) 100%);
    --color-8: darkblue;
    --color-9: rgb(236, 19, 19);
    --color-10: blue;
    --color-11: #cac7ff;
    --color-12: darkred;
    --color-13: ;
}

/* Incident Reoprt */
.manage-incidents-container {
    width: 60%;
    background: var(--color-4);
    transition: 0.3s;
    transform: translate(50%, -100%)scale(0);
}

#manage-incidence-boxes.active {
    width: 60%;
    background: var(--color-4);
    transform: translate(50%, -100%)scale(1);
}

#manage-incidence-boxes.active {
    display: block;
    transition: all 300ms ease-in-out;
    transform: translate(50%, -100%)scale(1);
}


.IncidentTitle {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 1px;
    background: transparent;
    color: var(--color-6);
    font-weight: 600;
    text-align: center;
}

.manage-incidents-title-input {
    color: var(--color-2);
    font-weight: lighter;
    width: 95%;
    margin: auto;
    align-items: center;
}

/* incidents reports */
.manage-incidents-reports-content {
    width: 91%;
    margin: auto;
    margin-top: 1px;
    max-height: 30vh;
    background: var(--color-5);
    columns: var(--color-3);
    font-size: 15px;
    padding: 1px;
    overflow-y: scroll;
}
/* Location */
.manage-incidents-title-location {
    color: var(--color-2);
    font-weight: lighter;
    width: 95%;
    margin: auto;
    align-items: center;
}
/* Evidence */
.manage-incidents-evidence-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-3);
    color: var(--color-3);
    font-size: 18px;
    margin: auto;
    font-weight: bolder;
    width: 90%;
    height: fit-content;
    align-items: center;
    cursor: pointer;
}

.manage-incidents-evidence-title {
    background: var(--color-4);
    color: var(--color-3);
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    width: 95%;
    align-items: center;
}

.incidents-upload-input {
    background: var(--color-3);
    color: var(--color-8);
    text-align: center;
    margin: auto;
    align-items: center;
    cursor: pointer;
}

/* officer report Involvemdnt */
.reports-officers-tags-container {
    display: flex;
    flex-direction: column;
    background: var(--color-1);
    color: var(--color-3);
    width: 100%;
    text-align: center;
    max-height: 150px;
    margin-top: 1px;
    text-align: center;
}

.manage-incidents-officers-title {
    /*  */
}

.manage-incidents-officers-holder {
    margin: auto;
    width: 95%;
    margin-top: 1px;
    max-height: 14vh;
    overflow-y: scroll;
}

/* civilians tages */
.reports-civilians-tags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.manage-incidents-civilians-title {
    background: var(--color-4);
    color: var(--color-3);
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 95%;
    align-items: center;  
}
.manage-incidents-civilians-holder {
    overflow-y: scroll;
    margin: auto;
    width: 95%;
    max-height: 14vh;
}
.manage-incidents-civilians-add-btn {
    background: var(--color-4);
    color: var(--color-3);
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    width: 95%;
    align-items: center;
    text-align: center;
}
.manage-incidents-civilians-add-btn :hover {
    background: var(--color-3);
}

/* incidents-tags */
.manage-incidents-tags-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-3);
    background: var(--color-4);
    color: var(--color-3);
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    width: 90%;
    height: fit-content;
    align-items: center;
    cursor: pointer;
}

.manage-incidents-tags-title {
    background: var(--color-4);
    color: var(--color-3);
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 95%;
    align-items: center;
}

.manage-incidents-tags-holder {
    overflow-y: scroll;
    overflow: auto;
    margin: auto;
    width: 1px;
    max-height: 14vh;
}

/* None Inportant */
.manage-incidents-evidence-add-btn {
    background: var(--color-4);
    color: var(--color-2);
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    margin-top: 1px;
    margin-right: 2px;
    width: 10%;
    text-align: center;
}

.manage-incidents-evidence-add-btn:hover {
    background: var(--color-3);
}

.reports-officers-add-btn {
    background: var(--color-4);
    color: var(--color-2);
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    margin: auto;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.reports-officers-add-btn:hover {
    background: var(--color-3);
}

.reports-civilians-add-btn {
    background: var(--color-4);
    color: var(--color-2);
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    padding: 10px;
    margin-bottom: 0px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.reports-civilians-add-btn:hover {
    background: var(--color-3);
}

.manage-incidents-tags-add-btn {
    background: var(--color-4);
    color: var(--color-2);
    font-size: 18px;
    font-weight: bolder;
    padding-top: 7.25px;
    padding-bottom: 7.25px;
    margin: auto;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.manage-incidents-tags-add-btn:hover {
    background: var(--color-3);
}

/* Drop Down */

label {
    background: var(--color-2);
}