:root {
    ---color-1: lightblue;
    --color-2: black;
    --color-3: white;
    --color-4: rgba(128, 128, 128);
    --color-5: rgb(255, 255, 255);
    --color-6: purple;
    --color-7: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 85%, rgba(0, 0, 0, 0.014) 100%);
    --color-8: darkblue;
    --color-9: rgb(236, 19, 19);
    --color-10: blue;
    --color-11: #cac7ff;
    --color-12: darkred;
    --color-13: ;
}